@use '../admin-production-preview/admin-production-preview.component.scss';
.section-image{width:100%;max-height:28rem;object-fit:cover}blockquote{padding:1rem;border-left:4px solid #e5c86b;font-size:1.3rem}cite{display:block;margin-top:.5rem}
