<div class="loading-state" *ngIf="isLoading()">Ucitavanje strane...</div>

<ng-container *ngIf="!isLoading() && page() as item">
  <app-public-about-view *ngIf="isAbout(item); else contactOrStandard" [page]="item" />

  <ng-template #contactOrStandard>
    <app-public-contact-view *ngIf="isContact(item); else standardPage" [page]="item" />

    <ng-template #standardPage>
      <section class="static-page" data-motion="up">
        <div class="page-image" data-motion="left" data-motion-card><img [src]="image(item)" [alt]="item.title" /></div>

        <article data-motion="right">
          <p class="eyebrow">Madlenianum</p>
          <h1>{{ item.title }}</h1>
          <div class="body" [innerHTML]="content(item)"></div>
          <a class="cta" routerLink="/repertoar">Program</a>
        </article>
      </section>
    </ng-template>
  </ng-template>
</ng-container>
